html, body {
    height: 100%;
    width: 99.6%;
}
.navbar {
    height: 40px;
    border: 2px solid navy;
    white-space: nowrap;
    background-color: azure;
}
.navbar_content {
    display: inline-block;
    font-size: 20px;
    margin: 5px;
}
.main_area {
    height: 88%;
    display: flex;
    flex-wrap: wrap;
    border: 2px solid navy;
    padding: 4px;
    margin-top: -2px;
}

img {
    max-width: 80%;
    vertical-align: middle;
}
.image {
    flex: 33%;
    max-width: 33%;
    align-self: stretch;
    justify-content: space-around;
}
.image img {
    max-width: 80%;
    vertical-align: middle;

}
.image_content {
    display: block;
    max-width: 30%;
    max-height: 30%;
    width: auto;
    height: auto;
    overflow: auto;
    position: relative;
    cursor: pointer;
}
#search_for_tags {

}
#page_image {

}
#search_criteria {

}
